demo/target/classes/Adder.class
demo/target/classes/ALU.class
demo/target/classes/Assembler.class
demo/target/classes/Bit.class
demo/target/classes/Memory.class
demo/target/classes/Multiplier.class
demo/target/classes/Processor.class
demo/target/classes/Shifter.class
demo/target/classes/Word16.class
demo/target/classes/Word32.class
demo/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
demo/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
demo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
demo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
demo/target/surefire-reports/BitTest.txt
demo/target/surefire-reports/TEST-BitTest.xml
demo/target/test-classes/AdderTest.class
demo/target/test-classes/ALUTest.class
demo/target/test-classes/AssemblerTest.class
demo/target/test-classes/BitTest.class
demo/target/test-classes/MemoryTest.class
demo/target/test-classes/MultiplierTest.class
demo/target/test-classes/ProcessorTest.class
demo/target/test-classes/ShifterTest.class
demo/target/test-classes/TestConverter.class
demo/target/test-classes/Word16Test.class
demo/target/test-classes/Word32Test.class
.vscode/settings.json
.DS_Store
demo/target/surefire-reports/AdderTest.txt
.gitignore
demo/target/surefire-reports/TEST-AdderTest.xml
demo/target/classes/TestConverter.class
demo/target/surefire-reports/ALUTest.txt
demo/target/surefire-reports/TEST-ALUTest.xml
demo/target/*